body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	color: #023047;
	background-color: #d3f3f5;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#formHomePage {
	width: 100%;
	height:auto;
}

#topMenu{
	display: flex;
	width: 100%;
	height: 4rem;
	padding: 1rem;
	align-items: center;
	background-color: #f8f9fa;
}
.box-menu-itens-esquerda{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.box-menu-itens-direita{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.menu-itens-direita{
	margin-left: 5px;
}

.menu-itens-esquerda h3{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #333; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    letter-spacing: 1px;
}

.menu-itens-esquerda{
	margin-right: 5px;
}

#assid{
	flex: 0 0 20%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: initial;
	align-content: center;
	justify-content: center;
	background-color: #f8f9fa;
	border-radius: 10px;
	margin: 5px;
}

#container {
    display: flex;
}

#content{
	flex: 1;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: #f8f9fa;
	border-radius: 10px;
	flex-direction: column;
	margin: 5px;
}

.item-content {
    margin-bottom: 10px;
}

.card {
    margin-top: 10px;
    margin-bottom: 5px;
}